.phonebookWrap{
    margin-left: 20px;
}
.formEl{
    outline: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: fit-content;
    padding: 40px;
}

.formSubmit{
    align-items: center;
    margin: auto;
}

.formInput{
    width: 400px;
}

.formLabel{
    font-style: oblique;
     margin-left: 20px;
}

.filterWrap{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contactListBtn{
    margin-left: 20px;
}

.navWrap{
    display: flex;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    gap: 40px;
    font-size: 30px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navMarginWrap{
    display: flex;
    gap: 100px;
    padding-right: 50px;
    margin-left: auto;
}

.registerWrap{
    margin-top: 200px;
}

.registerHeader{
    margin-bottom: 30px;
    display: flex;
  justify-content: center;
  align-items: center;
}

.email{
    margin-bottom: 15px;
}

.password{
    margin-bottom: 15px;
}

.submitRegister{
    justify-content: center;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
}

.formRegisterWrap{
    display: flex;
    flex-direction: column;
}